{% extends "base.html" %}
{% set labelclasslg = "col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label" %}
{% set selectclass = "col-lg-4 col-md-4 col-sm-4 col-xs-4" %}
{% set txtinputclassmd = "col-lg-6 col-md-6 col-sm-12 col-xs-12" %}

{% block head %}
{{ super() }}
<title>Cisco ACI API Builder</title>
{% endblock head %}


{% block content %}

<div class="container" style="max-width:1000px">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="div_create_group" class="panel panel-primary">
                
                <div class="panel-heading">&nbsp;
                    <div id="set_up_response" style="float:right;font-size:16px"></div>
                </div>
            
                <br>
                <div class="panel-body">
                    <div style="width: 45%; margin: 0 auto;"><a href="{{ url_for('textConfig') }}" style="width:300px; margin: 20px;"  class="btn btn-info" role="button">Enter NXOS Configuration</a></div>
                
                    <div style="width: 45%; margin: 0 auto;"><a href="{{ url_for('uploadFile') }}" style="width:300px; margin: 20px;"  class="btn btn-info" role="button">Upload NXOS Configuration</a></div>
                    
                </div>
            
            </div>
        </div>
    </div>
</div>

{% endblock content %}

